<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
  </head>
  <body>
    <div id="app">
      <center>
        <h1>
          <font size="20" face="Helvetica Neue" color="#80CEFF"
            >Formulario de cliente</font
          >
        </h1>
      </center>
      <i class="el-icon-tickets"></i><br />
      <p><font size="6" face="Helvetica Neue" color="FFFFFF">Nombre</font></p>
      <el-input placeholder="Escriba su nombre" v-model="nombre"></el-input
      ><br />
      <p>
        <font size="6" face="Helvetica Neue" color="#FFFFFF">Apellido</font>
      </p>
      <el-input placeholder="Escriba su apellido" v-model="apellido"></el-input>

      <br>
      <p><font size="6" face="Helvetica Neue" color="FFFFFF">Seleccione su carrera</font></p>
      <el-select v-model="value" placeholder="Carrera universitaria">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>

      <p><font size="6" face="Helvetica Neue" color="FFFFFF">Género</font></p>
      <el-radio v-model="radio" label="1">Femenino</el-radio>
      <el-radio v-model="radio" label="2">Masculino</el-radio>

      <p><font size="6" face="Helvetica Neue" color="FFFFFF">Teléfono</font></p>
      <el-input
        placeholder="Escriba su número de teléfono o celular"
        v-model="apellido"
      ></el-input>

      <p>
        <font size="6" face="Helvetica Neue" color="FFFFFF"
          >Acepte los términos de condiciones</font
        >
      </p>
      <el-checkbox v-model="checked">Termino de condiciones</el-checkbox><br />

      <el-button @click="visible = true">Finalizar</el-button>
      <el-dialog :visible.sync="visible" title="Gracias">
        <p>Vuelva pronto</p>
      </el-dialog>
    </div>
  </body>
  <style>
    body {
      background-image: url(fondo/stars.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>

  <!-- import Vue before Element -->
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="//unpkg.com/element-ui@2.4.11/lib/index.js"></script>
  <script>
    var Main = {
      data() {
        return {
            options: [{
          value: 'Ciencias administrativas, Marítima y Portuaria',
          label: 'Ciencias administrativas, Marítima y Portuaria'
        }, {
          value: 'Hotelería, Gastronomía y Turismo',
          label: 'Hotelería, Gastronomía y Turismo'
        }, {
          value: 'Ciencias de la salud',
          label: 'Ciencias de la salud'
        }, {
          value: 'Ingeniería, Arquitectura y Diseño',
          label: 'Ingeniería, Arquitectura y Diseño'
        }, {
          value: 'Derecho y ciencias políticas',
          label: 'Derecho y ciencias políticas'
        }],
            input: "",
            radio: "1",
            radio: "2"
        };
      }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount("#app");
  </script>
</html>
